/* Universal Styles */
body {
  font-size: 18px;
  line-height: 1.4;
  font-family: Helvetica, sans-serif;
}

* {
  box-sizing: border-box;
}

.container {
  width: 960px;
  margin: auto;
}

/* Banner */
.header {
  background-image: url("../Images/glasses-bg.png");
  background-size: cover;
  height: 30rem;
}

.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: cadetblue;
  position: relative;
  top: 1rem;
  padding: 1rem 2rem;
  color: white;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  height: 1.5rem;
}

.logo span {
  font-size: 1rem;
  padding-left: 1rem;
}

.container nav span {
  padding-left: 2rem;
  font-size: 1rem;
}

.phone-nav {
  display: none;
}

.headline {
  position: relative;
  top: 10rem;
  width: 960px;
  margin: auto;
}

.headline h1 {
  background-color: white;
  font-size: 2rem;
  font-weight: bold;
  line-height: 1.2;
  padding: 1.5rem 5rem;
  width: 60%;
  float: right;
  margin-right: -2rem;
}

/* Services */
.services {
  display: flex;
  justify-content: center;
  margin-top: 3rem;
}

.service-block {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: space-between;
  height: 8rem;
}

.service-block span {
  text-align: center;
}

#ruler,
#truck {
  margin-left: 6rem;
}

#paper img {
  width: 3.5rem;
}

#ruler img,
#truck img {
  width: 5rem;
}

/* About */
.about {
  display: flex;
  margin-top: 3rem;
  margin-bottom: 5rem;
}

.about-block {
  display: flex;
  flex-direction: column;
  width: 35%;
  margin-right: 5%;
}

.title {
  color: white;
  font-weight: bold;
  font-size: 1rem;
  background-color: cadetblue;
  padding: 0.5rem 1.25rem;
  width: 10rem;
  margin-bottom: 1rem;
}

/* Footer */
footer {
  background-color: azure;
  padding: 4rem;
}

footer img {
  height: 1.5rem;
  margin-right: 1rem;
}

/* Tablet Media Queries */
@media only screen and (max-width: 1024px) {
    .container {
      width: 100%;
    }

    .header {
    height: 22rem;
    }

    .header .container {
      position: static;
      top: auto;
    }

    .headline {
      position: relative;
      top: 5rem;
    }

    .headline h1 {
      font-size: 1.33rem;
      padding: 0.75rem 4rem;
      float: right;
      width: 40%;
      margin-right: 2rem;
    }

    .about {
      width: 80%;
    }
}

/* Phone Media Queries */
@media only screen and (max-width: 768px) {
  .container {
    width: 100%;
  }

  .header {
    background-position: 20%;
    height: 17rem;
  }

  .logo span {
    display: none;
  }

  .desktop-nav {
    display: none;
  }

  .phone-nav {
    display: inline;
  }

  .headline {
    position: relative;
    top: 9rem;
    width: 100%;
  }

  .headline h1 {
    font-size: 1rem;
    padding: 1rem;
    width: 100%;
    text-align: center;
    margin: 0;
  }

  .services {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 3.77rem;
  }

  .service-block {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    height: 8rem;
  }

  .service-block span {
    font-size: 0.77rem;
  }

  #ruler,
  #truck {
    margin-left: 0;
  }

  #paper img {
    width: 3.5rem;
  }

  #ruler img,
  #truck img {
    width: 5rem;
  }

  .about {
    display: flex;
    flex-direction: column;
    margin-top: 3.77rem;
  }

  .about-block {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .title {
    text-align: center;
    width: 100%;
  }

  .info {
    width: 90%;
    margin: auto;
    font-size: 0.77rem;
    margin-bottom: 4rem;
  }

  footer {
    background-color: azure;
    padding: 3rem;
    display: flex;
    justify-content: center;
  }

  footer img {
    height: 1.5rem;

  }

  footer span {
    display: none;
  }
}
