/* Universal Styles */
body {
  font-size: 18px;
  line-height: 1.4;
  font-family: Helvetica, sans-serif;
}

.container {
  width: 960px;
}

/* Header */
.header {
  background-image: url("../Images/glasses-bg.png");
  background-size: cover;
  height: 30rem;
}

.header .container {
  display: flex;
  margin: auto;
  justify-content: space-between;
  align-items: center;
  background-color: cadetblue;
  position: relative;
  top: 1rem;
  padding: 1rem 2rem;
  color: white;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  height: 1.5rem;
}

.logo span {
  font-size: 1rem;
  padding-left: 1rem;
}

.container nav span {
  padding-left: 2rem;
}

.headline {
  position: relative;
  top: 10rem;
  /* width: 960px; */
}

.headline h1 {
  background-color: white;
  font-size: 2rem;
  font-weight: bold;
  line-height: 1.2;
  padding: 1.5rem 5rem;
  float: right;
}

/* Company Information */
